<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>easybuy.filter.LoginFilter</filter-class>
    <init-param>
      <param-name>excludeUrl</param-name>
      <param-value>/easybuy/login.html,/easybuy/image.jsp,/easybuy/index.jsp</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <!--request,include 只拦截引入的文件 servlet 中的dispatcher.include ,forward 只会拦截 servlet 转发的页面,error 只拦截 错误页面,    dispatcher 过滤方式，只过滤浏览器地址栏的请求(REQUEST) -->
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
</web-app>